<div class="jumbotron">

</div>
<div class="row">
  <div class="col-md-12">
    <div class="input-group">
      <input name="add-domain" autocomplete="off" class="form-control" type="text" placeholder="Add Domain">
      <div class="input-group-addon"><i class="fa fa-fw fa-plus"></i></div>
    </div>
  </div>
</div>
<div class="row" data-bind="foreach: domains">
  <div class="col-md-3">
    <p data-bind="text: Name"></p>
  </div>
</div>

@section scripts {
  <script>
    /// <reference path="scripts/_references.js" />
    var dvm = new DashboardViewModel();

    $(document).ready(function () {
      ko.applyBindings(dvm);
    });
  </script>
}